$font-regular: 'Alegreya', serif;
$base-color: rgb(81, 81, 81);
$back-color: rgb(216, 216, 216);
$green-color: rgb(6, 126, 44);
$red-color: rgb(157, 0, 0);

body {
    text-align: center;
    font-family: $font-regular;
    background-color: $back-color;
}

header {
    position: sticky;
}

main {
    overflow: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



.menu-bar > a:hover,
.menu-bar > a:active {
    color: lighten($base-color, 30)
}

a:visited,
a:link {
    color: $base-color;
}

#title-left {
    color: $green-color;
}

#title-right {
    color: $red-color;
}

.ma-classe-image {
    transform: scaleX(-1);
}
